{% extends 'base.html' %}

{% block header %}
<h1 class="my-3">{% block title %}New Workout{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <div class="mb-3 text-start">
    <label class="form-label" for="notes">Notes:</label>
    <textarea class="form-control fs-3" style="min-height: 200px;" name="notes"
      id="notes">{{ request.form['notes'] }}</textarea>
  </div>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newExerciseModal">
    Create New Exercise
  </button>

  {% if exercises %}
  <p>select here</p>
  {% endif %}
  <div class="row-auto my-5">
    <input class="btn btn-lg btn-success" type="submit" value="Save">
  </div>
</form>

<!-- Modal -->
<div class="modal fade" id="newExerciseModal" tabindex="-1" aria-labelledby="newExerciseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newExerciseModalLabel">Create New Exercise</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}