{% extends 'base.html' %}

{% block header %}
{% if workout %}
<h1 class="my-5">{% block created %}{{ workout['created'].strftime('%Y-%m-%d') }}{% endblock %}</h1>
<form action="{{ url_for('workouts.delete', id=workout['id']) }}" method="post">
  <input class="btn btn-sm btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% else %}
<h1 class="my-5">{% block title %}New Workout{% endblock %}</h1>
{% endif %}

{% endblock %}
{% block content %}

<!-- if you wanted to fetch from server on page load, do this instead -->
<!-- <div hx-get="{{ url_for('workouts.notes', id=workout.id)}}" hx-trigger="load" hx-swap="outerHTML">
</div> -->

<!-- i prefer to load straight from server -->
{% include "workouts/partials/notes.html" %}

{% include "workouts/partials/add_exercise.html" %}

{% endblock %}