{% extends 'base.html' %}

{% block header %}
  <h1>{% block created %}Edit "{{ workout['created'].strftime('%Y-%m-%d') }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="notes">Notes</label>
    <textarea name="notes" id="notes">{{ request.form['notes'] or workout['notes'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('workouts.delete', id=workout['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}